/*
* Document: main.css
* Default style
* Author: Christian Nascimento
*/

body,html{
  height: 100%;
}

/* No Bootstrap
*  Used to centralize the content
*/
.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}
  .wrapper-content{
    display:table-cell;
    vertical-align: middle;
  }

.btn-info{
  margin: 0 auto;
  display: table;
}


.signup, .edit{
  margin-top: 20px;
  overflow: hidden;
}
  .signup .thumbnail, .edit .thumbnail{
    padding: 8px;
    height: 150px;
    width: 195px;
    max-width: 100%;
    vertical-align: middle;
    display: table-cell;
    background-color: aliceblue;
    text-align: center;
    overflow: hidden;
  }
    .signup .thumbnail img, .edit .thumbnail img{
      max-width: 100%;
      width: 100%;
    }
  .signup .info-range, .edit .info-range{
    display:table;
    width: 100%;
    margin-top: 5px;
  }
    .signup .info-range li, .edit .info-range li{
      display: table-cell;
      width: 192px;
    }
    .signup .info-range li:nth-child(2), .edit .info-range li:nth-child(2){
      padding-left: 46px;
    }
    .signup .info-range li:nth-child(3), .edit .info-range li:nth-child(3){
      padding-left: 107px;
    }
    .signup .info-range li:last-child, .edit .info-range li:last-child{
      text-align: right;
    }
  .signup .home-address,
  .signup .company-address,
  .edit .home-address,
  .edit .company-address{
    margin-top: 15px;
    display: none;
  }

.btn-agreed{
  display:table;
  margin: 0 auto;
}
.list-group{
  margin-top: 20px;
}
